body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif; */
}
header {
   background-color:   white;
    height: 60px;
    width: 100%;
    border-bottom:1px solid #CCCCCC;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

header p{
    color: black;
}

.container{
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
}
.filters{
    height: 70px;
    width: 100%;
    border: 1px solid  #DDDDDD ;
    border-radius: 4px;
}
.container button{
    font-size: 18px;
    background-color:  #FF5A5F;
    color: white;
    height: 48px;
    width: 20%;
    border-radius: 4px;
    opacity: 90%;
    display: flex;

}

footer{
    background-color: white;
   height: 40px;
   width: 100%;
   text-align: center;
   margin-top: auto;
   border-top: 1px solid #CCCCCC;
}
footer p{
    color: black;
}
